@import 'reset';
@import 'variables/globals';
@import "themes/dark";
@import 'themes/normal';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {

  background: var(--bg-color);
  min-height: 100vh;
  // padding-left: 30px;
}

.page-wrapper {
  flex-grow: 1;
  padding-left: 50px;
}

.inner-container {
  display: flex;
}