.Button {
  color: var(--primary-color);
  padding: 10px 15px;
}

.clear {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--seconary-color);
}