.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  color: white;
  display: flex;
  align-items: center;
}

.links {
  margin-left: auto;
  padding-right: 20px;
}

.mainLink {
  margin-right: 20px;

}